.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #000000, #1f4068); 
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

button {
  background-color: #1f4068;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #003366; 
}


.error{
  color: red;
}